<h3>Welcome to the InsDet Challenge!</h3>
<h4>Introduction</h4>
<p>Instance Detection (InsDet) is a practically important task in robotics applications, e.g., elderly-assistant robots need to fetch specific items from a cluttered kitchen, micro-fulfillment robots for the retail need to pick items from mixed boxes or shelves. Different from Object Detection (ObjDet) detecting all objects belonging to some predefined classes, InsDet aims to detect specific object instances (defined by some visual examples) from a scene image.</p>
<p>This challenge focuses on the recently introduced InsDet dataset, which is a high-resolution real-world dataset for Instance Detection with Multi-view Instance Capture. Participants in this challenge will be tasked with predicting the bounding boxes for each given instance from testing images. This exciting opportunity allows researchers, students, and data scientists to apply their expertise in computer vision and machine learning to address instance detection problems.</p>
<h4>Dataset</h4>
<p>The dataset contains 100 object instances with multi-view profile images in 24 rotation positions (per 15&deg;), 160 testing scene images with high-resolution, and 200 pure background images. The testing scene images are separated into <i>easy</i> and <i>hard</i> cluttered levels. Participants can download the dataset from the <a href="https://drive.google.com/drive/folders/1rIRTtqKJGCTifcqJFSVvFshRb-sB0OzP?usp=sharing">InsDet</a> dataset.</p>
<p>The provided data file includes:
<ul>
<li><b>Objects</b>: raw RGB images(e.g., "images/001.jpg") and segmentation masks(e.g., "masks/001.jpg")</li>
<li><b>Scenes</b>: raw RGB images with 6144x8192 pixels(e.g., "office_001/rgb_000.jpg") and bounding box annotation for objects in PascalVOC format(e.g., "office_001/rgb_000.xml")</li>
<li><b>Background</b>: 200 pure scene images that do not include any given instances from Objects folder</li>
</ul> 
For more information about the dataset, please check out the following <a href="https://github.com/insdet/instance-detection/tree/main">link</a>.
</p>
