<h4>Introduction</h4>
<center>
  <img src="https://raw.githubusercontent.com/shenqq377/InsDet_Challenge/challenge/templates/objdet-insdet.png" width="90%" height="90%">
</center>
<p>Instance Detection (InsDet) is a practically important task in robotics applications, e.g., elderly-assistant robots need to fetch specific items from a cluttered kitchen, micro-fulfillment robots for the retail need to pick items from mixed boxes or shelves. Different from Object Detection (ObjDet) detecting all objects belonging to some predefined classes, InsDet aims to detect specific object instances defined by some examples capturing the instance from multiple views.</p>
<p>This challenge focuses on the recently introduced InsDet dataset, which is larger in scale and more challenging than existing InsDet datasets. The major strengths of our InsDet dataset includes (1) both high-resolution profile images of object instances and high-resolution testing images from more realistic indoor scenes, simulating real-world indoor robots locating and recognizing object instances from a cluttered indoor scene in a distance (2) a realistic unified InsDet protocol to foster the InsDet research.</p>
<p>Participants in this challenge will be tasked with predicting the bounding boxes for each given instance from testing images. This exciting opportunity allows researchers, students, and data scientists to apply their expertise in computer vision and machine learning to address instance detection problem.</p>
<h4>Benchmarking Protocols</h4>
<ol>
  <li><b>Goal.</b> Developing instance detectors using profile images and optionally some random background images. The detector should detec object instances of interest in real-world testing images.</li>
  <li>
    <p><b>Environment for model development.</b></p>
    <ol type="a">
      <li>A set of object instances, each of which has some visual examples captured from multiple views. Participants should develop a model to successfully detect these object instances.</li>
      <li>Some random background images (not used in testing). Participants might use them to synthesize images. Participants can also download and use other external background images in training.</li>   
    </ol>
  </li>
  <li><b>Environment for testing.</b> Real-world indoor scene images, in which participants' algorithms should detect object instances of interest.</li>
</ol>
Importantly, participants are not allowed to develop any instance detectors on the Real-world indoor scene images we provided. Furthermore, for participants who are invited for a presentation, we might ask for your code and models for verification.
<h4>Dataset</h4>
<p>The dataset contains 100 object instances with multi-view profile images, 200 pure background images and 160 scene images. Participants can download the dataset from the <a href="https://drive.google.com/drive/folders/1rIRTtqKJGCTifcqJFSVvFshRb-sB0OzP?usp=sharing">InsDet</a> dataset.</p>
<ol>
<li><b>Objects</b>: 100 different Object instances. Each profile image has a resolution of 3072&times;3072 pixels (some instances are 3456&times;3456). Each instance is captured at 24 rotation positions (every 15&deg; in azimuth) with a 45&deg; elevation view.</li>
<li><b>Background</b>: 200 high-resolution background images of indoor scenes that do not include any given instances from Objects.</li>
<li><b>Scenes</b>: 160 high-resolution images (6144&times;8192) in cluttered scenes, where some instances are placed in reasonable locations. We tag these images as <i>easy</i> or <i>hard</i> based on scene clutter and object occlusion levels.</li>
</ol>
<h4>Contact Information</h4>
<p>Organizers: Qianqian Shen, Yunhan Zhao, Yanan Li, Shu Kong</p>
<p>For questions regarding technical details, feel free to submit issues on our github repo</p>
</p>
